name = "pctv-ai-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[routes]]
pattern = "pctv.ai"
custom_domain = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[assets]
directory = "./public"
